body {
    background: #333;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

main {
    width: 800px;
    height: 800px;
}

.pixel {
    width: 14.81px;
    height: 14.54px;
    float: left;
}

.black {
    background-color: #000000;
}

.green {
    background-color: #008484;
}

.green-shadow {
    background-color: #00676f;
}

.purple {
    background-color: #222035;
}

.light-blue-top {
    background-color: #93deef;
}

.light-blue-down {
    background-color: #46d2dc;
}

.brown {
    background-color: #d09d5e;
}

.bronw-stain {
    background-color: #9b7147;
}

.brown-nose {
    background-color: #673c25;
}

.eye {
    background-color: #1a0a01;
}

.eye-l {
    background-color: #e7cbab;
}