body {
    background: #333;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

table {
    width: 800px;
    height: 800px;
    border-collapse: collapse;
}

td {
    padding: 0;
    margin: 0;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

.black {
    background-color: #000000;
}

.green {
    background-color: #008484;
}

.green-shadow {
    background-color: #00676f;
}

.purple {
    background-color: #222035;
}

.light-blue-top {
    background-color: #93deef;
}

.light-blue-down {
    background-color: #46d2dc;
}

.brown {
    background-color: #d09d5e;
}

.bronw-stain {
    background-color: #9b7147;
}

.brown-nose {
    background-color: #673c25;
}

.brown-shadow {
    background-color: #cf9656;
}

.eye {
    background-color: #1a0a01;
}

.eye-l {
    background-color: #e7cbab;
}